@charset "utf-8";
h1{
    height: 300px;
    width: 300px;

    background-color: lightgrey;

    border: 100px,lightblue,solid;
    
    padding: 20px;

    margin:auto;

}
a{
    border-width: 5px;
    border-style: solid;
    border-color: red;
}